%h1 Listing all forums

- @categories.each do |category|
  %h2
    = category.name
    Category
  %table{:border => "1"}
    %tr
      %th
        Name
      %th
        Last post
      %th
        Views

    - category.forums.order_by([:order, :asc]).each do |forum|
      %tr
        %td
          = link_to forum.name, forum
        %td
          - unless forum.topics.last.nil?
            - last_post = forum.topics.select {|topic| !topic.hidden }.last.posts.last
            = time_ago_in_words ( last_post.created_at )
            ago on
            = link_to last_post.topic.name, last_post.topic
            by
            = last_post.user.forum_display_name
          - else
            No posts yet
        %td
          = forum.views_count ? forum.views_count : "None"
