%br
= post.user.forum_display_name
- if post.reply_to_id
  replied to
  = MongoidForums::Post.find(post.reply_to_id).user.forum_display_name
- else
  created
= time_ago_in_words(post.created_at)
ago

= link_to 'Quote', new_topic_post_path(post.topic_id, :reply_to_id => post.id)
%br
- if post.reply_to_id
  >
  = MongoidForums::Post.find(post.reply_to_id).text
  %br
= post.text
%br
