%h3
  Edit topic

= simple_form_for @topic do |f|
  = f.label :name
  = f.text_field :name
  %br
  %br
  = f.label :post
  = f.simple_fields_for :posts do |post|
    = render :partial => "mongoid_forums/posts/form", :locals => { :f => post }
  %br
  = f.submit "Update Topic", :class => "btn", :disable_with => "Creating..."
