%h1 Viewing Topic "#{@topic.name}"
- if @topic.can_be_replied_to? && can?(:reply, @topic)
  = link_to "Reply to topic", new_topic_post_path(@topic)
- if mongoid_forums_user && @topic.subscriber?(mongoid_forums_user.id)
  = link_to "Unsubscribe", unsubscribe_topic_path(@topic)
-elsif mongoid_forums_user
  = link_to "Subscribe", subscribe_topic_path(@topic)
%br
= paginate @posts
%br
= render @posts
