%h1 Viewing Topic "#{@topic.name}"
= link_to "Reply to topic", new_topic_post_path(@topic)
- if allow? "mongoid_forums/topics", :edit, @topic
  = link_to "Edit topic", edit_topic_post_path(@topic, @topic.posts.first.id)
- if current_user && @topic.subscriber?(current_user.id)
  = link_to "Unsubscribe", unsubscribe_topic_path(@topic)
-elsif current_user
  = link_to "Subscribe", subscribe_topic_path(@topic)
%br
= paginate @posts
%br
= render @posts
